langchain
langchain_community
langchain-google-genai
pysqlite3-binary
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub    
pypdf
rapidocr-onnxruntime
chromadb
rank_bm25
typing
numpy
spacy
scikit-learn
voyageai
https://huggingface.co/spacy/es_core_news_sm/resolve/main/es_core_news_sm-any-py3-none-any.whl
