langchain
langchain_community
langchain-google-genai
pysqlite3-binary
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub    
pypdf
rapidocr-onnxruntime
chromadb
rank_bm25
typing
numpy
spacy
spacy[es_core_news_sm] @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.5.0/es_core_news_sm-3.5.0.tar.gz
scikit-learn
voyageai
